@import "mocha.css";

* {
  font-family: "Hack Nerd Font", Roboto, Helvetica, Arial, sans-serif;
  background-image: none;
  transition: 20ms;
  box-shadow: none;
}

window {
  /*opacity: 0.7;*/
  background: none;
}

button {
  color: @lavender;
  font-size: 23px;

  margin: 120px 0px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;

  background-color: @crust;
  opacity: 0.8;
  border: none;
  border-radius: 0px;
  transition: 0.15s ease-in-out all;
}

button:hover {
  color: @crust;
  background-size: 45%;
  background-color: @mauve;
  margin: 75px 0px;
  border-radius: 50px;
}

/* 
----------------------------------------------------- 
Buttons
----------------------------------------------------- 
*/

#lock {
  border-radius: 50px 0px 0px 50px;
  background-image: image(url("icons/lock.png"));
}
#lock:hover {
  border-radius: 50px;
}

#reboot {
  background-image: image(url("icons/reboot.png"));
}

#shutdown {
  border-radius: 0px 50px 50px 0px;
  background-image: image(url("icons/shutdown.png"));
}
#shutdown:hover {
  border-radius: 50px;
}
