@import "mocha.css"; 

* {
    border: none;
    border-radius: 0;
    font-family: "Hack Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    min-height: 0;
}

#window {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 100px 20px 100px 20px;
    margin: 4px;
    padding: 0px 15px;
    color: @text;
}

window#waybar {
    background: transparent;
    color: @overlay0;
    transition-property: background-color;
    transition-duration: 0.1s;
}

window#waybar.empty #window {  
    background:none;  
}

#custom-os {
    background-color: @crust;
    color: @lavender;
    border: 3px solid @crust; 
    border-radius: 0px 20px 100px 0px;
    margin: 4px 4px 4px 6px;
    padding: 0px 15px 0px 8px;
}

#workspaces button {
    background: transparent;
    border: 2px solid @crust;
    border-radius: 100px;
    color: @crust;
    margin: 5px;
    padding: 0px 5px;
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.active {
    border: 2px solid @sapphire;
    color: @sapphire
}

#workspaces button:hover {
    border: 2px solid @maroon;
    color: @maroon;
}

#workspaces button.urgent {
    border: 2px solid @red;
    color: @redsapphire;
}

#pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#idle_inhibitor,
#scratchpad {
  margin: 4px 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 15px;
  padding-left: 15px;
}

#clock {
    color: @maroon;
    border: 3px solid #20052a;
    border-radius: 20px 0px 0px 100px;
    background-color: @crust;
    margin-right: 6px;
}

#clock.date {
    color: @mauve;
}

#pulseaudio {
    color: @blue;
    border: 3px solid #20052a;
    border-radius: 20px 100px 20px 100px;
    background-color: @crust;
}

#network {
    color: @yellow;
    border: 3px solid #20052a;
    border-radius: 20px 100px 20px 100px;
    background-color: @crust;
}

#idle_inhibitor {
    color: @green;
    border: 3px solid #20052a;
    border-radius: 20px 100px 20px 100px;
    background-color: @crust;
}

#idle_inhibitor.activated {
    color: @red;
}
